*{
  background-color: #181818;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.nav-bar {
  width: 100%;
  margin: auto;
}

.nav-bar-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

#hidden {
  display: none;
  font-family: "Noto Sans", sans-serif;
}

.nav-bar ul li {
  list-style: none;
}

.nav-bar ul li a {
  text-decoration: none;
  color: white;
  font-family: "PT Mono", monospace;
  font-size: 17px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

.nav-bar ul li a:hover {
  color: #44f1a6;  
}

.collapse-icon {
  display: none;
}

.main-about{
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 30px auto;
  height: 350px;
}

.main-skills{
  background-color: rgb(19, 18, 18);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 30px auto;
  height: 350px;
}

.main-projects{
  background-color: rgb(19, 18, 18);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 30px auto;
  height: 350px;
}

.main-contact{
  background-color: rgb(19, 18, 18);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 30px auto;
  height: 350px;
}


.about-heading,
.skills-heading,
.projects-heading,
.contact-heading{
  color: #44f1a6;
  font-family: ubuntu;
  font-size: 27px;
}

.details-heading {
  color: white;
  font-family: monospace;
  width: 210px;
}

.about-container-1 {
  height: 400px;
  width: 50%;
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-container-2 {
  height: 400px;
  width: 50%;
  /* background-color: aqua; */
  display: flex ;
  justify-content: center;
  align-items: center;
}

.social-icons {
  margin-top: 10px;
  font-size: 25px;
  width: 250px;
  display: flex;
  justify-content: space-evenly;
}

.social-icons a {
  color: white;
}

.go-to-top{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#top-link{
  color: white;
  font-family: ubuntu;
  font-weight: 700;
  text-decoration: none;
  font-size: 16px;
}

@media only screen and (max-width: 750px) {
  #nav-ul{
    margin-top: 35px;
    margin-bottom: 150px;
  }

  #nav-res-ext1, 
  #nav-res-ext2, 
  #nav-res-ext3,
  #nav-res-ext4{
    font-size: 16px;
    display: none;
    letter-spacing: 0px;
  }

  #hidden{
    display:inline-flex;
    margin-left: 5%;
    color: #44f1a6;
    font-size: 25px;
    font-weight: 600;
    border: 0;
  }
  #icon {
    display: block;
    float: right;
    color: #44f1a6;
    font-size: 25px;
    border: 0;
  }

  #about-section {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  
}

