*{
  background-color: #181818;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bar {
  width: 100%;
  margin: auto;
}

.nav-bar-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* height: 120px; */
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
  margin-top: 50px;
}

#hidden {
  display: none;
  font-family: "Noto Sans", sans-serif;
}

.nav-bar ul li {
  list-style: none;
}

.nav-bar ul li a {
  text-decoration: none;
  color: white;
  font-family: "PT Mono", monospace;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}

.nav-bar ul li a:hover {
  color: #44f1a6;  
  border-bottom: 2px solid #44f1a6;
  transition: 0.1s linear ;
}

.collapse-icon {
  display: none;
}

@media only screen and (max-width: 600px) {
  #nav-ul{
    /* height: 100px; */
  }

  #nav-res-ext1, 
  #nav-res-ext2, 
  #nav-res-ext3,
  #nav-res-ext4{
    font-size: 16px;
    display: none;
  }

  #hidden{
    display:inline-flex;
    margin-left: 5%;
    color: #44f1a6;
    font-size: 25px;
    font-weight: 600;
    border: 0;
  }
  #icon {
    display: block;
    float: right;
    color: #44f1a6;
    font-size: 25px;
    border: 0;
  }
  
}

