*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}  

body {
    background: black;
    background-size: 100% 5000%;
    color: #44f1a6;
}

h2 {
    margin-top: 50px;
    font-family: Ubuntu;
    text-align: center;
}